[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sanic = "*"
tortoise-orm = {extras = ["psycopg"], version = "*"}
uvicorn = "*"
sanic-ext = "*"
pydantic = "*"
aerich = "*"
celery = "*"
flower = "*"

[dev-packages]
sanic-testing = "*"
pytest = "*"
pre-commit = "*"
pytest-cov = "*"
pytest-xdist = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.14"
